h1{
    text-align: center;
}
h2{
    text-align: center;
}
pre{
    text-align: center;
}
body{
    background-color: #FF8AC5;
}
.imagen{
    text-align: center;
}
.audio{
    text-align: center; 
}
